.element-shape {
    fill: rgb(29, 29, 66);
    stroke: rgb(128, 128, 128);
    stroke-width: 2px;
}

.element--on .element-shape {
    fill: rgb(228, 235, 117);
    stroke: none;
}

.element--synced {
    cursor: pointer;
}

.element--not-synced .element-shape {
    cursor: default;
    animation-name: borderblink;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

.element-icon {
    pointer-events: none;
}

.element-icon path {
    fill: rgb(128, 128, 128);
}

.element--on .element-icon path  {
    fill: #fff;
}

.element--edit .element-shape {
    cursor: move;
}

/* ANIMATIONS */

@keyframes borderblink {
    0% {
        stroke: rgba(128, 128, 128, 1);
        stroke-width: 0;
        paint-order: stroke;
    }
  
    100% {
        stroke: rgba(128, 128, 128, 0);
        stroke-width: 25px;
        paint-order: stroke;
    }
}
