.editor-layout {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.editor-panel {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    height: 100%;
    background: #f3f4f6;
    padding: 8px;
    
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.editor-panel--split-2 > ul {
    overflow-y: scroll;
    flex-basis: 50%;
}

.editor-panel--split-2 > ul > li:hover{
    cursor: pointer;
    color: blue;
}

.editor-panel--left {
    box-shadow: -6px 0 12px 0 #060606;
}

.editor-panel--right {
    box-shadow: 6px 0 12px 0 #060606;
}