.element--movable {
    cursor: move;
}

.element--selectable {
    pointer-events: bounding-box;
}

@media (hover: hover) {
    .element--selectable:hover {
        cursor: pointer;
        outline: solid 2px var(--color-primary-dark);
        outline-offset: 6px;
    }
}