.element-bulbs-line {
    fill: none;
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke: rgb(29, 29, 66);
}

.element-bulbs-line--on {
    stroke: rgb(228, 235, 117);
}

.element-bulbs-line--lost {
    filter: grayscale(1);
}
