.root {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, #9bd0fe, #97cbfe);
    user-select: none;
}